<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new client</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/clientCreate.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post" th:action="@{/clients/create}" th:object="${client}" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" th:fields="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input id="surname" type="text" class="form-control" th:fields="*{surname}"/>
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <input id="dateOfBirth" type="date" class="form-control" th:fields="*{dateOfBirth}"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" th:fields="*{email}"/>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input id="phoneNumber" type="text" class="form-control" th:fields="*{phoneNumber}"/>
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <ul class="list-group">
                        <li th:each="g : ${genders}" class="list-group-item">
                            <input type="radio" th:field="*{gender}" th:value="${g}" class="mr-1"/>
                            <label th:text="${g}" class="mr-2"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Vehicle</label>
                    <ul class="list-group">
                        <li th:each="v : ${vehicles}" class="list-group-item">
                            <input type="radio" th:field="*{vehicle}" th:value="${v}" class="mr-1"/>
                            <label th:text="${v}" class="mr-2"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="estimatedRentalDate">Estimated rental date</label>
                    <input id="estimatedRentalDate" type="date" class="form-control" th:field="*{estimatedRentalDate}"/>
                </div>

                <div class="form-group">
                    <label>Estimated rental time</label>
                    <ul class="list-group">
                        <li th:each="ert : ${estimateRentalTimes}" class="list-group-item">
                            <input type="radio" th:field="*{estimatedRentalTime}" th:value="${ert}" class="mr-1"/>
                            <label th:text="${ert.getValue()}" class="mr-2"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="idScan">Id scan</label>
                    <input id="idScan" type="file" class="form-control" th:field="*{drivingLicenseScan}"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Send</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>

</html>